<!DOCTYPE html>
<html lang="en">
<head>

    <title>Document</title>
</head>
<body>
<main>
    <div>
        <h1>Reminders</h1>
        <p><a href="{% url 'todo_list_update' todolist.id %}">Edit</a></p>
        <p><a href="{% url 'todo_list_delete' todolist.id %}">Delete</a></p>
        <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Tasks</th>
                    <th>Due date</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td><a href="{% url 'todo_item_update' task.id %}">{{ task.task }}</a></td>
                    <td>{{ task.due_date}}</td>
                 </tr>
                 {% endfor %}
            </tbody>
        </table>
    </div>
</main>
</body>
</html>
